<html>
   <head>
      <title>{{ title | upcase }}</title>

      {{ "style.css" | css_asset }}

      {{ "jquery.js" | javascript_asset }}
      {{ "ember.js" | javascript_asset }}
   </head>
   <body>
      <h1>This is my awesome page!</h1>

      {% if records.length > 0 %}
         You got some records!
      {% endif %}

      {% for record in records %}
         {{ record }}
      {% endfor %}
   </body>
</html>
